<div class="content-container" style="width: 100%">
  <mat-card class="card" style="width: 100%">
    <mat-card-header>
      <mat-card-title>{{statusConfig.identifier}}</mat-card-title>
    </mat-card-header>
    <mat-card-content style="margin: 0 16px;">
      <form [formGroup]="statusConfigForm" (ngSubmit)="submit()" class="form">

        <mat-form-field appearance="fill" class="width-100">
          <mat-label>Identifier</mat-label>
          <input matInput formControlName="identifier">
          <mat-error *ngIf="hasError('identifier')">Please enter a value</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="width-100">
          <mat-label>Description</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>

        <mat-form-field appearance="fill" class="width-100">
          <mat-label>Health Endpoint</mat-label>
          <input matInput formControlName="healthEndpoint">
          <mat-error *ngIf="hasError('healthEndpoint')">Please enter a value</mat-error>
        </mat-form-field>

        <mat-slide-toggle formControlName="enabled">Enabled</mat-slide-toggle>

        <mat-slide-toggle formControlName="isCategory">Is Category</mat-slide-toggle>

      </form>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="submit()">EDIT</button>
      <button mat-button color="warn" (click)="remove()">REMOVE</button>
    </mat-card-actions>
  </mat-card>
</div>
