@import "src/shared/scss/settings";

.status-bar .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.status-bar .mat-expansion-panel-header-title {
  width: 100%;
  align-items: center;
}

.status-bar .status-bar__icons {
  display: flex;
  flex-direction: row;
  align-items: center;

  > .rtt-margin {
    display: none;
    @media (min-width: $desktop-breakpoint) {
      margin-right: $xs-size;
      display: block;
    }
  }
}

.sub-entity-container .mat-expansion-panel {
  margin-bottom: $xs-size;

  filter: brightness(92%);
}
