@import "src/shared/scss/settings";

.content-container {
  > .status-list {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin-top: $m-size;

    @media (min-width: $desktop-breakpoint) {
      margin-top: $l-size;
    }

    > * {
      margin-bottom: $m-size;
    }

    > .rtt-notice {
      display: none;

      @media (min-width: $desktop-breakpoint) {
        display: block;
      }
    }
  }
}

.notice-box {

  width: 100%;
  padding: $m-size;
  box-sizing: border-box;
  border-radius: 4px;

  > .notice-content {
    display: flex;
    flex-direction: column;

    > .notice-header {
      p {
        font-size: $m-size;
        margin: 0;
      }
    }

    > .notice-description {

    }
  }
}


